body{
background-color: rgba(12, 141, 158, 0.964);
color: rgb(228, 228, 228);
font-family: "Gravitas One", serif;;
margin: 0px;

}
header {
    font-size: 60px;
    border:  double 10px rgb(243, 239, 239);
    margin: -20px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 30px;
}