body{
background-color: rgba(0, 0, 0, 0.964);
color: rgb(228, 228, 228);
font-family: "Gravitas One", serif;;
margin: 0px;

}
header {
    font-size: 60px;
    text-align: center;
    border:  double 10px rgb(243, 239, 239);
    margin: -20px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 30px;
}

section{
background-color: rgba(0, 0, 0, 0.83);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;


}

chamada-texto{
    margin-right: 10%;
}